body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato" , sans-serif;
  font-weight:400;
  line-height:1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3{
   position:relative;
   opacity:0.70;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   background-attachment: fixed;

}

.pimg1{
 background-image:url('../img/NSG1.jpg');
 min-height:100%;
}

.pimg2{
 background-image:url('../img/NSG2.jpg');
 min-height:500px;
}

.pimg3{
 background-image:url('../img/NSG3.jpg');
 min-height:700px;
}

.section{
  text-align: center;
  padding: 50px 80px;

}

.section-light{
  background-color:#f4f4f4;
  color: #666;
}

.section-dark{
  background-color:#282e34;
  color: #ddd;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size:30px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color:#111 ;
  color: #fff;
  padding:20px ;

}

.ptext .border.trans{
  background-color:transparent;

}

.header{
  position:relative;
  height:auto;
  font-size: 30px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 2.3em;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin: auto;
  background-color:#111;
  opacity: 0.8;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.bg1{
  background-image:url('../img/NSG2.jpg');
  min-height: 100%;
  position: absolute;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.bg2{
  background-image:url('../img/NSG3.jpg');
  min-height: 100%;
  position: absolute;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.About{
  text-align: center;
  padding: 50px 80px;
  color: white;
}

.songs{
  text-align: center;
  padding: 50px 80px;
  color: white  ;
}
.Vid{
  position:  relative;
  width: 100%;
  height: 45px;
  font-size: 24px;
  font-family: 'lato', sans-serif;
  color: Blue;
  text-align: center;
  margin: auto;
  position: 350px;
}
